<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//FR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="fr">
    <head>
        <title>EazyShare</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">EazyShare</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="btn-group pull-left" style="width: 100%">
                        <div class="jumbotron">
                            <p>You are going to download a file.</p>
                            <p>Name : <code><%= name %></code></p>
                            <p>Size : <code><%= size %></code></p>
                            <% if (!password) { %>
                                <p><a href="#" class="btn btn-success btn-lg" id="download" role="button">Click to download</a></p>
                            <% } else { %>
                                <p>This download is password protected !</p>
                            <% if (error) { %>
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <%= error %>
                                </div>
                            <% } %>
                                <form action="">
                                    <div class="input-group">
                                        <!--<input type="hidden" class="form-control" name="direct" value="false">-->
                                        <input type="text" class="form-control" name="password" placeholder="Entre the password" autocomplete="off">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">Click to download</button>
                                        </span>
                                    </div>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                console.log("ready!");
                var downUrl = window.location.href.split("?")[0];
                console.log(downUrl);
                $('#download').attr("href", downUrl);
                $('form').attr().attr("action", downUrl);
            });
        </script>
    </body>
</html>